html,body{
    margin: 0;
    padding: 0;
    font-family: 'Aboreto';
    font-size: 16px;
    background-color: rgb(231,230,230);
    text-align: center;
}
h1{
    color: rgb(255,192,0);
}
h2{
    font-size: 31px;
}
.fundo{
    height: 100vh;
    color: black
       
}
.calculadora{
    position: absolute;
    background-color: rgba(242,153,22,0.9);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
}
.botão{
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin: 3px;
}
.botão:hover{
    background-color: gray;
}
#resultado{
    background-color: white;
    width: 220px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}