*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    font-family: 'Aboreto';
}

body{
    width: 100%;
    min-height: 100vh;
    background: url(pexels-ikram-shaari-250659.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    padding: 35px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
}

