*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 230, 230);
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.carregando{
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: 12px solid rgb(255, 192, 0);
    border-right: 12px solid transparent;

    animation: carregamento 1s ease-in-out infinite;
}
@keyframes carregamento {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}