*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aboreto';
}

main{
    background-color: rgb(255, 195, 0);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 50%;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #222;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}

h1{
    color: #222;
    font-size: 50px;
}